#segment-homepage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3em;
}

.button {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background: black;
  font-size: 1.2em;
  padding: 1em;
  border: .2em solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px #0000002d;
  transition: all .1s ease-in 0s;
  &:hover {
    color: black;
    background: white;
    border: .2em solid rgb(0, 0, 0);
  }
}

#homepage {
  display: flex;
  flex-direction: column;
  & a {
    margin: auto;
    width: 40%;
  }
}


#divider {
  font-family: 'Permanent Marker', cursive;
  & #cat-face {
    margin: auto;
    width: 150px;
  }
}

#versus {
  display: flex;
  color: black;
  font-size: 10em;
}
