#app {
  padding: 2em;
  text-align: center;
  width: 1200px;
  margin: auto;
}

body {
  color: rgb(255, 255, 255);
  background: rgb(160,51,255);
  background: linear-gradient(0deg, rgba(160,51,255,1) 0%, rgba(115,0,255,1) 100%);
    font-family: 'Raleway', sans-serif;
}
