.cats {
  background-position: center;
  background-repeat: no-repeat;
  height: 20em;
  width: 20em;
  background-size: cover;
  margin: 1em auto;
  border:  .5em solid white;
  border-radius: 50%;
  cursor: pointer;
}
